<link rel="stylesheet" type="text/css" href="build/app.css">

<div class="background">

    <div class="center-container">
        <h1 class="title"> Enter prediction date in d-m-Y format</h1>
        <input class="input" placeholder="{{ "now"|date("d-m-Y") }} ">
    </div>

</div>
